body{
	max-width: 900px;
}

h1{
	font-size: 30pt;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 2em;
}


/*HOME SECTION*******************************************************************************************************************************************************/
#home{
	grid-template-columns: 1fr;
	grid-template-rows: 70px 3fr 1fr 1fr 1fr;
	grid-template-areas: 
		"nav"
		"intro"
		"socials"
		"blog"
		"more"
	;
}



nav{
	grid-template-columns: 1fr;
	grid-template-rows: 60px 100px;
	align-items: center;
	z-index: 10;
	height: 60px;
	overflow: hidden;
	width: 100%;
}

nav .hamburger{
	display: block;
	align-self: center;
	width: 30px;
	padding: 20px;
}

nav ul{
	align-self: center;
	height: 300px;
	justify-self: center;
	width: 100%;
	background-color: #206268;
	margin-top: 200px;
	
}






.intro{
	padding-left: 0;
	text-align: center;
	align-self: center;
	line-height: 0em;
}

.socials{
	justify-self: center;
	align-self: center;
	padding: 0px;
}

.blog{
	justify-self: center;
	align-self: center;
}

.blog button{
	background-color: #fe5355;
	margin: 0;
}

.view-more{
	justify-self: center;
	align-self: center;
}

.view-more img{
	margin-right: 0;
}






/*About Section**************************************************************************************************************************************************************/
#about{
	height: auto;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto auto 3fr;
	grid-template-areas:
		"about-head"
		"profile-pic"
		"article"
		"skills-head"
		"skills"
	;
}

.profile-pic{
	justify-self: center;
}

.profile-pic img{
	width: 250px;
}

.profile-pic img:hover{
	position: static;
	width: 250px;
	
}

article{
	padding: 0 10px;
}

.skills{
	background-color: #edeae5;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr ;
	justify-items: center;
	padding: 10px;
	align-items: center;
	height: 400px;
}

.skills img{
	width: 70px;
}

.about-arrow{
	display: none;
}




/*Contact Section****************************************************************************************************************************************************/
#contact{
	margin-top: 100px;
	height: auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 6fr 5fr;
	grid-template-areas:
		"contact-head"
		"contact-sub-head"
		"form"
		"footer"
	;
}


form{
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 2fr 1fr;
	grid-template-areas:
		"name-text"
		"email-text"
		"message-text"
		"button"
	;
	width: 95%;
	height: 300px;
	margin-top: 50px;
}

p.contact-sub-header{
	text-align: center;
}

.name{
	display: none;
}

.email{
	display: none;
}

.message{
	display: none;
}

input::placeholder{
    color: gray;
}

textarea::placeholder{
	color: gray;
}


input.button{
	width: 150px;
	justify-self: center;
	margin-right: 0px;
}



footer{
	align-items: center;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr 2fr 1fr;
	grid-template-areas:
		"section1"
		"section2"
		"copyrights"
	;
	text-align: center;
}














/*Projects Code***********************************************************************************************************/
/* #projects-page{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 60px 1fr;
	grid-template-areas:
		"nav"
		"project-list"
	;
} */

/* nav{
	grid-area: nav;
} */

#projects-list{
	/* grid-area: project-list; */
	margin-left: 0;
}

.project{
	grid-template-columns: 1fr;
	grid-template-rows: 200px 50px 50px;
	grid-template-areas:
		"project-img"
		"project-info"
		"project-buttons"
	;
	height: 300px;
	width: 95%;
}

.projuct-image{
	grid-area: project-image;
}

.project-image img{
	max-width: 350px;
}

.project-info{
	justify-self: center;
	grid-area: project-info;
	height: 50px;
	padding: 0;
}

.project-buttons{
	justify-self: center;
}

.project-buttons button:last-child{
	margin-right: 5px;
}

.project-buttons button{
	margin: 0 5px;
}

.tools{
	display: none;
}

.description{
	display: none;
}






