body{
	max-width: 900px;
}


/*HOME SECTION*******************************************************************************************************************************************************/
#home{
	grid-template-columns: 1fr;
	grid-template-rows: 60px auto 3fr 1fr 1fr;
	grid-template-areas: 
		"nav"
		"blog"
		"intro"
		"socials"
		"more"
	;
}



nav{
	grid-area: nav;
	width: 100%;
	grid-template-columns: 1fr;
	grid-template-rows: 60px 100px;
	align-items: center;
	z-index: 10;
	height: 60px;
	overflow: hidden;
}

nav .hamburger{
	display: block;
	align-self: center;
	width: 30px;
	padding: 20px;
}

nav ul{
	align-self: center;
	height: 300px;
	justify-self: center;
	width: 100%;
	background-color: #206268;
	margin-top: 200px;
	
}
/*.active{
	background-color: blue;
}*/

.intro{
	padding-left: 40px;
}

.socials{
	justify-self: center;
	padding-left: 25px;
}

.view-more{
	justify-self: center;
	align-self: center;
}

.view-more img{
	margin-right: 0;
}






/*About Section**************************************************************************************************************************************************************/
#about{
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 3fr 3fr 1fr 1fr 1fr;
	grid-template-areas:
		"about-head"
		"profile-pic"
		"article"
		"skills-head"
		"skills"
		"about-arrow"
	;
	margin-bottom: 300px;
	min-height: 100vh;
	max-height: 200vh;
	/* height: auto; */
}

.profile-pic{
	justify-self: center;
}

.profile-pic img{
	width: 250px;
}

.profile-pic img:hover{
	position: static;
	width: 250px;
}

article{
	width: 90%;
}

.skills{
	width: 80%;
}

.about-arrow{
	padding-top: 50px;
}





/*Contact Section****************************************************************************************************************************************************/
#contact{
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 5fr 3fr;
	grid-template-areas:
		"contact-head"
		"contact-sub-head"
		"form"
		"footer"
	;
}


form{
	grid-template-columns: 1fr 4fr;
	width: 80%;
	height: 300px;
	padding-right: 60px;
	margin-top: 50px;
}

input.button{
	width: 150px;
	justify-self: right;
	margin-right: 20px;
}


footer{
	align-items: center;
}








/*Projects***********************************************************************************************************************/

#projects-page{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 60px 1fr;
	grid-template-areas:
		"nav"
		"project-list"
	;
}

nav{
	grid-area: nav;
}

#projects-list{
	grid-area: project-list;
}

.project{
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"project-img"
		"project-info"
	;
}

.projuct-image{
	grid-area: project-image;
}

.project-info{
	grid-area: project-info;
	width: 80%;
	margin: 0 auto;
}

.visit-site{
	justify-self: center;
}
