body{
	max-width: 1940px;
}


/*HOME SECTION*******************************************************************************************************************************************************/
#home{
	background-color: #1a1a1a;
	height: 100vh;
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-template-rows: 60vh 40vh;
	grid-template-areas: 
		"nav	intro"
		"nav	socials"
		/* "nav	blog" */
	;

}




/*Navigation Code*/
nav{
	position: fixed;
	grid-area: nav;
	background-color: #206268;
	display: grid;
	grid-template-columns: 250px;
	grid-template-rows: 2fr 3fr 1fr 1fr;
	grid-template-areas:
		"hamburger"
		"nav-ul"
	;
	height: 100vh;
}

nav ul{
	grid-area: nav-ul;
	height: 100%;
	padding: 0px;
	margin: 0;
	justify-self: center;
	width: 100%;
}

nav ul li{
	list-style: none;
	text-align: center;
	text-transform: uppercase;
}

nav ul li a{
	display: block;
	padding: 25px 0;
	font-size: 13.5px;
	font-weight: bold;
	letter-spacing: 2px;
}

nav ul li a:hover{
	background-color: #1a1a1a;
	text-decoration: none;
	color: #b8b8b8;
}

.burger {
  display: none;
  align-self: center;
  justify-self: end;
  padding-right: 30px;
}

.burger div {
  width: 20px;
  height: 2px;
  background-color: white;
  margin: 4px;
  transition: all 0.3s ease;
}






/*Intro Code*/
.intro{
	grid-area: intro;
	align-self: end;
	margin: 0 0 50px 0;
	justify-self: center;
}

span.dot{
	color: #fe5355;
	font-family: 'Poppins', sans-serif;
}

span.web-developer{
	color: #edeae5;
}





/*Social Media Code*/
.socials{
	grid-area: socials;
	justify-self: center;
	padding-right: 280px;
}

.socials img{
	width: 22px;
	margin: 0 15px;
}

.socials button{
	padding: 10px 15px;
	font-size: 12px;
	letter-spacing: 3px;
	margin: 50px 0 0 15px;
}
































/*About Section**************************************************************************************************************************************************************/
#about{
	height: 100vh;
	display: grid;
	grid-template-columns: 250px 1fr 3fr;
	grid-template-rows: 1fr 3fr 2fr 300px 1fr;
	grid-template-areas:
		"space3		about-head		about-head"
		"space3		profile-pic		article"
		"space3		skills-head		skills-head"
		"space3		skills 			skills"
		"space3		about-arrow		about-arrow"
	;
}



/*Space one the left*/
.space.three{
	grid-area: space3;
}



/*Profile Picture Code*/
.profile-pic{
	grid-area: profile-pic;
	justify-self: right;
	align-self: center;
}

.profile-pic a img{
	width: 200px;
	transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
}

.profile-pic a img:hover{
	transform: scale(1.1);
	cursor: pointer;
}






/*About Me Heading Code*/
.about-heading{
	grid-area: about-head;
}



/*Article Code*/
article{
	grid-area: article;
	align-self: center;
	padding: 0 30px;
}



/*My Skills Heading Code*/
.skills-heading{
	grid-area: skills-head;
	align-self: center;
}



/*My Skills Images Code*/
.skills{
	grid-area: skills;
	background-color: #edeae5;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr 1fr;
	justify-items: center;
	padding: 40px 110px 0 110px;
}

.skills img{
	width: 80px;
}



/*View More Arrow Code*/
.about-arrow{
	grid-area: about-arrow;
	justify-self: center;
	align-self: center;
}

.about-arrow img{
	width: 25px;
}





/*Contact Section****************************************************************************************************************************************************/
#contact{
	height: 100vh;
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-template-rows: 1fr 1fr 5fr 3fr;
	grid-template-areas:
		"space4		contact-head"
		"space4		contact-sub-head"
		"space4		form"
		"space4		footer"
	;
	margin-top: 100px;
}



/*Space for the Navigation side*/
.space.four{
	grid-area: space4;
}



/*Contact header Code*/
h2.contact-header{
	grid-area: contact-head;
	align-self: center;
}

p.contact-sub-header{
	grid-area: contact-sub-head;
	justify-self: center;
}



/*The Contact form*/
form{
	grid-area: form;
	display: grid;
	justify-self: center;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 1fr 1fr 2fr 1fr;
	grid-template-areas:
		"name		name-text"
		"email		email-text"
		"message	message-text"
		"button		button"
	;
	width: 600px;
	grid-gap: 10px 20px;
	height: 300px;
}

.name{
	grid-area: name;
	justify-self: right;
	align-self: center;

}

.name-textbox{
	grid-area: name-text;
	background-color: rgba(225,225,225,.0);
	border: none;
	border-bottom: 2px solid #edeae5;
	margin: 10px 5px;
	color: #edeae5;
	font-size: 13pt;
}

input::placeholder {
    color: transparent;
}

textarea::placeholder{
	color: transparent;
}

.email{
	grid-area: email;
	justify-self: right;
	align-self: center;
}

.email-textbox{
	grid-area: email-text;
	background-color: rgba(225,225,225,.0);
	border: none;
	border-bottom: 2px solid #edeae5;
	margin: 10px 5px;
	color: #edeae5;
	font-size: 13pt;
}

.message{
	grid-area: message;
	justify-self: right;
}

.message-textarea{
	grid-area: message-text;
	background-color: rgba(225,225,225,.0);
	border: none;
	border-bottom: 2px solid #edeae5;
	margin: 0px 5px;
	height: 60px;
	color: #edeae5;
	font-size: 13pt;
}

input.button{
	grid-area: button;
	width: 30%;
	height: 40px;
	justify-self: right;
	color: #edeae5;
}

input.button:hover{
	cursor: pointer;
}



/*The footer*/
footer{
	grid-area: footer;
	background-color: #edeae5;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 2fr 1fr;
	grid-template-areas:
		"section1		section2"
		"copyrights		copyrights"
	;
	justify-items: center;
}

.section.one{
	grid-area: section1;
}

.section.two{
	grid-area: section2;
}

.copyrights{
	grid-area: copyrights;
}

footer *{
	color: #1a1a1a;
	font-style: italic;
	font-weight: bold;
	font-size: 11pt;
}


span.none-italic{
	font-style: normal;
}





/*Projects Page Code*******************************************************************************************************************************************************/


#projects-list{
	grid-area: projects-list;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 4fr 4fr;
	grid-template-areas:
		"projects-head"
		"project-1"
		"project-2"
	;
	grid-gap: 10px;
	margin-left: 250px;
	margin-top: 100px;
}

h2.projects-heading{
	grid-area: projects-head;
	margin: 0;
	align-self: center;
}

.project.one{
	grid-area: project-1;
}

.project.two{
	grid-area: project-2;
}

.project{
	display: grid;
	grid-template-columns: 40% 60%;
	grid-template-rows: 300px 50px;
	grid-template-areas:
		"project-img	project-info"
		"project-img    project-buttons"
	;
	background-color: #282828;
	width: 70%;
	height: 350px;
	margin: 40px auto;
}



.project-image{
	grid-area: project-img;
	min-width: 300px;
	display: grid;
	justify-items: center;
	margin-top: 20px;
}

.project-image img{
	width: 90%;
}

.project-info{
	grid-area: project-info;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 2fr 2fr;
	grid-template-areas:
		"details"
		"description"
		"tools"
	;
	align-items: center;
	height: 220px;
	padding: 30px 20px 0 0;
}

.details{
	grid-area: details;
}

article.description{
	grid-area: description;
	padding: 0;
}

article.description p{
	margin: 5px 0;
	font-size: 14px;
}

.tools{
	grid-area: tools;
}

.tools ul{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 1fr 1fr;
	list-style: none;
	margin: 2px 0;
	padding: 0;
}

.tools ul li{
	font-size: 12px;
	color: #acabab;
}

.project-buttons{
	grid-area: project-buttons;
	justify-self: end;
}

.project-buttons button{
	width: 100px;
	height: 40px;
	margin: 0 5px;
}

.project-buttons button:last-child{
	margin-right: 30px;
}

.project-buttons button:hover{
	cursor: pointer;
	border: 1px solid white;
}

.project-buttons button a{
	color: #ffffff;
	font-size: 13px;
	display: block;
	padding: 10px;
}


@media screen and (max-width: 1300px) and (min-width: 901px) {
  .project {
	  margin: 40px;
	  justify-self: center;
	  width: 90%;
	  grid-template-columns: 270px 1fr;
  }

  .project-info {
	  padding-right: 5px;
  }
}